<div id="properties">
	<div class="player-name">
		<h4>{{ player.name }}</h4>
	</div>
	<ul>
		<li ng-repeat="property in properties">
			<div class="property" ng-click="showProperty($index)">
				<div class="wrap">
					<div class="head" ng-style="{'background-color': property.color}"></div>
					<div class="body">
						<p>{{ property.name }}</p>
					</div>
					<div class="houses" ng-show="property.type == 'terrain'">
						<ul>
							<li ng-class="{'green': property.nbHouses > 0}"></li>
							<li ng-class="{'green': property.nbHouses > 1}"></li>
							<li ng-class="{'green': property.nbHouses > 2}"></li>
							<li ng-class="{'green': property.nbHouses > 3}"></li>
							<li class="clear"></li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>