/* Buy style */
/* line 2, ../../sass/buy.scss */
#buy {
  margin-top: 70px;
  width: 100%;
  position: relative;
}
/* line 6, ../../sass/buy.scss */
#buy .title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.4);
}
/* line 14, ../../sass/buy.scss */
#buy .buy-prop {
  padding: 20px 10px;
  font-size: 20px;
  color: #fff;
}
/* line 18, ../../sass/buy.scss */
#buy .buy-prop.black {
  color: #000;
}
/* line 21, ../../sass/buy.scss */
#buy .buy-prop p {
  float: left;
  width: 80%;
}
/* line 25, ../../sass/buy.scss */
#buy .buy-prop .price {
  float: right;
}
/* line 30, ../../sass/buy.scss */
#buy .modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 39, ../../sass/buy.scss */
#buy .modalCard {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 6;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  width: 80%;
}
/* line 51, ../../sass/buy.scss */
#buy .modalCard .m-box {
  border: 1px solid #000;
  padding: 2px;
}
/* line 54, ../../sass/buy.scss */
#buy .modalCard .m-box .m-title {
  background-color: #87ceea;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  text-transform: uppercase;
}
/* line 60, ../../sass/buy.scss */
#buy .modalCard .m-box .m-title p:nth-child(1) {
  font-size: 14px;
}
/* line 63, ../../sass/buy.scss */
#buy .modalCard .m-box .m-title p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
/* line 69, ../../sass/buy.scss */
#buy .modalCard .m-box .prices {
  padding: 10px 0;
}
/* line 71, ../../sass/buy.scss */
#buy .modalCard .m-box .prices table {
  width: 100%;
}
/* line 73, ../../sass/buy.scss */
#buy .modalCard .m-box .prices table tr {
  margin-bottom: 4px;
}
/* line 75, ../../sass/buy.scss */
#buy .modalCard .m-box .prices table tr td {
  padding: 2px 0;
}
/* line 77, ../../sass/buy.scss */
#buy .modalCard .m-box .prices table tr td:nth-child(1) {
  text-align: center;
}
/* line 84, ../../sass/buy.scss */
#buy .modalCard .m-box .info {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  margin: 0 4px;
}
/* line 91, ../../sass/buy.scss */
#buy .modalCard .m-box .info p span {
  font-weight: bold;
}
/* line 96, ../../sass/buy.scss */
#buy .modalCard .m-box .houses {
  padding: 10px;
}
/* line 98, ../../sass/buy.scss */
#buy .modalCard .m-box .houses table {
  width: 100%;
}
/* line 101, ../../sass/buy.scss */
#buy .modalCard .m-box .houses table tr td {
  font-weight: bold;
}
/* line 103, ../../sass/buy.scss */
#buy .modalCard .m-box .houses table tr td span {
  font-weight: normal;
}
