/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 9, ../../sass/configuration.scss */
.clear {
  clear: both;
}

/* Buy style */
/* line 4, ../../sass/buy.scss */
#buy {
  margin-top: 70px;
  width: 100%;
  position: relative;
}
/* line 8, ../../sass/buy.scss */
#buy .title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0px 0 7px rgba(0, 0, 0, 0.4);
}
/* line 16, ../../sass/buy.scss */
#buy .buy-prop {
  padding: 20px 10px;
  font-size: 20px;
  color: #fff;
}
/* line 20, ../../sass/buy.scss */
#buy .buy-prop.black {
  color: #000;
}
/* line 23, ../../sass/buy.scss */
#buy .buy-prop p {
  float: left;
  width: 80%;
}
/* line 27, ../../sass/buy.scss */
#buy .buy-prop .price {
  float: right;
}
