/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
  background-color: whitesmoke;
}

/* line 10, ../../sass/configuration.scss */
.clear {
  clear: both;
}
