/* Header style */
/* line 2, ../../sass/header.scss */
#header {
  z-index: 1;
  height: 70px;
  width: 100%;
  background-color: #22d299;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 10, ../../sass/header.scss */
#header .add-menu {
  display: inline-block;
  padding: 11px;
}
/* line 13, ../../sass/header.scss */
#header .add-menu img {
  height: 50px;
}
/* line 17, ../../sass/header.scss */
#header .credit-amount {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #fff;
  font-size: 40px;
}
