/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 9, ../../sass/configuration.scss */
.clear {
  clear: both;
}

/* line 3, ../../sass/home.scss */
#home {
  margin-top: 70px;
  height: 100%;
}

/* Footer style */
/* line 9, ../../sass/home.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 14, ../../sass/home.scss */
footer button {
  position: absolute;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  height: 60px;
  width: 60px;
  padding-bottom: 9px;
}
/* line 24, ../../sass/home.scss */
footer button.add-money {
  bottom: 20px;
  right: 80px;
  background-color: #8BC34A;
}
/* line 28, ../../sass/home.scss */
footer button.add-money:active {
  background-color: #71a436;
}
/* line 32, ../../sass/home.scss */
footer button.del-money {
  bottom: 20px;
  right: 10px;
  background-color: #F44336;
}
/* line 36, ../../sass/home.scss */
footer button.del-money:active {
  background-color: #ea1c0d;
}
