/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 9, ../../sass/configuration.scss */
.clear {
  clear: both;
}

/* line 3, ../../sass/home.scss */
#home {
  padding-top: 70px;
  height: 100%;
}
/* line 8, ../../sass/home.scss */
#home .user-container ul li {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 20px;
}
/* line 13, ../../sass/home.scss */
#home .user-container ul li a {
  display: block;
  box-sizing: border-box;
  background-color: whitesmoke;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 44px 0;
  margin: auto;
}
/* line 24, ../../sass/home.scss */
#home .user-container ul li a:active {
  background-color: gainsboro;
}
/* line 28, ../../sass/home.scss */
#home .user-container ul li a span.name {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

/* Footer style */
/* line 41, ../../sass/home.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 46, ../../sass/home.scss */
footer button {
  position: absolute;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  height: 60px;
  width: 60px;
  padding-bottom: 9px;
}
/* line 56, ../../sass/home.scss */
footer button.add-money {
  bottom: 20px;
  right: 80px;
  background-color: #8BC34A;
}
/* line 60, ../../sass/home.scss */
footer button.add-money:active {
  background-color: #71a436;
}
/* line 64, ../../sass/home.scss */
footer button.del-money {
  bottom: 20px;
  right: 10px;
  background-color: #F44336;
}
/* line 68, ../../sass/home.scss */
footer button.del-money:active {
  background-color: #ea1c0d;
}
