/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 9, ../../sass/configuration.scss */
.clear {
  clear: both;
}

/* line 3, ../../sass/modals.scss */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 12, ../../sass/modals.scss */
.modalCard {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  width: 80%;
}
/* line 24, ../../sass/modals.scss */
.modalCard .m-box {
  border: 1px solid #000;
  padding: 2px;
}
/* line 28, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  text-transform: uppercase;
}
/* line 33, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title.white {
  color: #fff;
}
/* line 36, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title p:nth-child(1) {
  font-size: 14px;
}
/* line 39, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
/* line 45, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices {
  padding: 10px 0;
}
/* line 47, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table {
  width: 100%;
}
/* line 49, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr {
  margin-bottom: 4px;
}
/* line 51, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr td {
  padding: 2px 0;
}
/* line 53, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr td:nth-child(1) {
  text-align: center;
}
/* line 60, ../../sass/modals.scss */
.modalCard .m-box .terrain .info {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  margin: 0 4px;
}
/* line 67, ../../sass/modals.scss */
.modalCard .m-box .terrain .info p span {
  font-weight: bold;
}
/* line 72, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses {
  padding: 10px;
}
/* line 74, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table {
  width: 100%;
}
/* line 77, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table tr td {
  font-weight: bold;
}
/* line 79, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table tr td span {
  font-weight: normal;
}
/* line 90, ../../sass/modals.scss */
.modalCard .m-box .company {
  text-align: center;
}
/* line 92, ../../sass/modals.scss */
.modalCard .m-box .company img {
  width: 60%;
}
/* line 95, ../../sass/modals.scss */
.modalCard .m-box .company h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 101, ../../sass/modals.scss */
.modalCard .m-box .company p {
  margin-bottom: 10px;
}
/* line 105, ../../sass/modals.scss */
.modalCard .m-box .hypo {
  text-align: center;
}
/* line 108, ../../sass/modals.scss */
.modalCard .m-box .action {
  text-align: center;
  padding: 10px;
}
/* line 111, ../../sass/modals.scss */
.modalCard .m-box .action button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
}
/* line 116, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(1) {
  background-color: #8BC34A;
}
/* line 118, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(1):active {
  background-color: #71a436;
}
/* line 122, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(2) {
  background-color: #F44336;
}
/* line 124, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(2):active {
  background-color: #ea1c0d;
}

/* line 132, ../../sass/modals.scss */
.modalAddMoney, .modalDelMoney {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
/* line 144, ../../sass/modals.scss */
.modalAddMoney .m form input, .modalDelMoney .m form input {
  height: 40px;
  border: 1px solid #fff;
  width: 70%;
  font-size: 30px;
  color: #757575;
  vertical-align: middle;
}
/* line 152, ../../sass/modals.scss */
.modalAddMoney .m form button, .modalDelMoney .m form button {
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  height: 50px;
  width: 50px;
  padding-bottom: 9px;
  vertical-align: middle;
}
/* line 162, ../../sass/modals.scss */
.modalAddMoney .m form button.add-money, .modalDelMoney .m form button.add-money {
  background-color: #8BC34A;
}
/* line 164, ../../sass/modals.scss */
.modalAddMoney .m form button.add-money:active, .modalDelMoney .m form button.add-money:active {
  background-color: #71a436;
}
/* line 168, ../../sass/modals.scss */
.modalAddMoney .m form button.del-money, .modalDelMoney .m form button.del-money {
  background-color: #F44336;
}
/* line 170, ../../sass/modals.scss */
.modalAddMoney .m form button.del-money:active, .modalDelMoney .m form button.del-money:active {
  background-color: #ea1c0d;
}

/* line 178, ../../sass/modals.scss */
.modalSetUser {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
