/* line 1, ../../sass/configuration.scss */
body {
  font-family: Helvetica;
  font-size: 14px;
  background-color: whitesmoke;
}

/* line 13, ../../sass/configuration.scss */
.clear {
  clear: both;
}

/* line 3, ../../sass/modals.scss */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 12, ../../sass/modals.scss */
.modalCard {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  width: 80%;
}
/* line 24, ../../sass/modals.scss */
.modalCard .m-box {
  border: 1px solid #000;
  padding: 2px;
}
/* line 28, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  text-transform: uppercase;
}
/* line 33, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title.white {
  color: #fff;
}
/* line 36, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title p:nth-child(1) {
  font-size: 14px;
}
/* line 39, ../../sass/modals.scss */
.modalCard .m-box .terrain .m-title p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
/* line 45, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices {
  padding: 10px 0;
}
/* line 47, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table {
  width: 100%;
}
/* line 49, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr {
  margin-bottom: 4px;
}
/* line 51, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr.bold {
  font-weight: bold;
  color: #8BC34A;
}
/* line 55, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr td {
  padding: 2px 0;
}
/* line 57, ../../sass/modals.scss */
.modalCard .m-box .terrain .prices table tr td:nth-child(1) {
  text-align: center;
}
/* line 64, ../../sass/modals.scss */
.modalCard .m-box .terrain .info {
  text-align: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px;
  margin: 0 4px;
}
/* line 71, ../../sass/modals.scss */
.modalCard .m-box .terrain .info p span {
  font-weight: bold;
}
/* line 76, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses {
  padding: 10px;
}
/* line 78, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table {
  width: 100%;
}
/* line 81, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table tr td {
  font-weight: bold;
}
/* line 83, ../../sass/modals.scss */
.modalCard .m-box .terrain .houses table tr td span {
  font-weight: normal;
}
/* line 90, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell, .modalCard .m-box .terrain .hypothec {
  text-align: center;
  padding: 50px 0;
}
/* line 93, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell p, .modalCard .m-box .terrain .hypothec p {
  font-size: 16px;
}
/* line 96, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div, .modalCard .m-box .terrain .hypothec div {
  padding: 20px 0;
}
/* line 98, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div button, .modalCard .m-box .terrain .hypothec div button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
}
/* line 103, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div button:nth-child(1), .modalCard .m-box .terrain .hypothec div button:nth-child(1) {
  background-color: #8BC34A;
}
/* line 105, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div button:nth-child(1):active, .modalCard .m-box .terrain .hypothec div button:nth-child(1):active {
  background-color: #71a436;
}
/* line 109, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div button:nth-child(2), .modalCard .m-box .terrain .hypothec div button:nth-child(2) {
  background-color: #F44336;
}
/* line 111, ../../sass/modals.scss */
.modalCard .m-box .terrain .confirm-buy-or-sell div button:nth-child(2):active, .modalCard .m-box .terrain .hypothec div button:nth-child(2):active {
  background-color: #ea1c0d;
}
/* line 118, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses {
  width: 100%;
}
/* line 122, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul.full-houses li {
  width: 20%;
}
/* line 127, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul.hotel li {
  width: 100%;
}
/* line 131, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul li {
  float: left;
  width: 25%;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
  background-image: url("../img/house.png");
  background-size: 40px 33px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .3;
}
/* line 142, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul li.hotel {
  background-image: url("../img/hotel.png");
  background-size: 50px 43px;
}
/* line 145, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul li.hotel.red {
  background-image: url("../img/hotel_red.png");
  opacity: 1;
}
/* line 150, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul li.green {
  background-image: url("../img/house_green.png");
  opacity: 1;
}
/* line 154, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses ul li:last-child {
  background: none;
  display: none;
}
/* line 160, ../../sass/modals.scss */
.modalCard .m-box .terrain .add-houses p {
  color: red;
  margin: 5px 0;
  text-align: center;
}
/* line 167, ../../sass/modals.scss */
.modalCard .m-box .gare, .modalCard .m-box .company {
  text-align: center;
}
/* line 169, ../../sass/modals.scss */
.modalCard .m-box .gare img, .modalCard .m-box .company img {
  width: 60%;
}
/* line 172, ../../sass/modals.scss */
.modalCard .m-box .gare h4, .modalCard .m-box .company h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 178, ../../sass/modals.scss */
.modalCard .m-box .gare p, .modalCard .m-box .company p {
  margin-bottom: 10px;
}
/* line 181, ../../sass/modals.scss */
.modalCard .m-box .gare .table, .modalCard .m-box .company .table {
  text-align: center;
  padding: 10px 5px;
}
/* line 184, ../../sass/modals.scss */
.modalCard .m-box .gare .table table, .modalCard .m-box .company .table table {
  width: 100%;
}
/* line 187, ../../sass/modals.scss */
.modalCard .m-box .gare .table table tr.bold, .modalCard .m-box .company .table table tr.bold {
  font-weight: bold;
  color: #8BC34A;
}
/* line 191, ../../sass/modals.scss */
.modalCard .m-box .gare .table table tr td, .modalCard .m-box .company .table table tr td {
  padding: 2px 0;
}
/* line 193, ../../sass/modals.scss */
.modalCard .m-box .gare .table table tr td:nth-child(1), .modalCard .m-box .company .table table tr td:nth-child(1) {
  text-align: left;
}
/* line 196, ../../sass/modals.scss */
.modalCard .m-box .gare .table table tr td:nth-child(2), .modalCard .m-box .company .table table tr td:nth-child(2) {
  font-weight: bold;
}
/* line 204, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property {
  text-align: center;
  padding: 50px 0;
}
/* line 207, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property p {
  font-size: 16px;
}
/* line 210, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div {
  padding: 20px 0;
}
/* line 212, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
}
/* line 217, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div button:nth-child(1) {
  background-color: #8BC34A;
}
/* line 219, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div button:nth-child(1):active {
  background-color: #71a436;
}
/* line 223, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div button:nth-child(2) {
  background-color: #F44336;
}
/* line 225, ../../sass/modals.scss */
.modalCard .m-box .hypothec-property div button:nth-child(2):active {
  background-color: #ea1c0d;
}
/* line 232, ../../sass/modals.scss */
.modalCard .m-box .swap-property {
  text-align: center;
  padding: 50px 0;
}
/* line 235, ../../sass/modals.scss */
.modalCard .m-box .swap-property p {
  font-size: 16px;
  font-weight: bold;
}
/* line 238, ../../sass/modals.scss */
.modalCard .m-box .swap-property p.sub {
  font-size: 12px;
  font-weight: 100;
}
/* line 244, ../../sass/modals.scss */
.modalCard .m-box .swap-property ul li {
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  transition: box-shadow .1s ease;
}
/* line 251, ../../sass/modals.scss */
.modalCard .m-box .swap-property ul li:active {
  box-shadow: 0 0 0 #000;
}
/* line 256, ../../sass/modals.scss */
.modalCard .m-box .swap-property div {
  padding: 20px 0;
}
/* line 258, ../../sass/modals.scss */
.modalCard .m-box .swap-property div button {
  border: none;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  background-color: #F44336;
}
/* line 264, ../../sass/modals.scss */
.modalCard .m-box .swap-property div button:active {
  background-color: #ea1c0d;
}
/* line 270, ../../sass/modals.scss */
.modalCard .m-box .hypo {
  text-align: center;
}
/* line 273, ../../sass/modals.scss */
.modalCard .m-box .hypo p span {
  font-weight: bold;
}
/* line 278, ../../sass/modals.scss */
.modalCard .m-box .pay {
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  margin: 10px;
  border: 1px dashed #000;
}
/* line 284, ../../sass/modals.scss */
.modalCard .m-box .pay p {
  font-size: 20px;
}
/* line 286, ../../sass/modals.scss */
.modalCard .m-box .pay p span {
  font-weight: bold;
}
/* line 291, ../../sass/modals.scss */
.modalCard .m-box .compagnie-ask {
  padding: 20px 0;
  margin: 10px;
  box-sizing: border-box;
  border: 1px dashed #000;
  text-align: center;
}
/* line 297, ../../sass/modals.scss */
.modalCard .m-box .compagnie-ask p {
  margin: 10px 0;
}
/* line 301, ../../sass/modals.scss */
.modalCard .m-box .compagnie-ask form input {
  display: inline-block;
  padding: 10px;
  border: 1px solid #eee;
  width: 50%;
  font-size: 14px;
}
/* line 308, ../../sass/modals.scss */
.modalCard .m-box .compagnie-ask form button {
  display: inline-block;
  padding: 10px;
  background-color: #8BC34A;
  border: none;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}
/* line 319, ../../sass/modals.scss */
.modalCard .m-box .free-parking {
  text-align: center;
}
/* line 321, ../../sass/modals.scss */
.modalCard .m-box .free-parking img {
  width: 50%;
}
/* line 324, ../../sass/modals.scss */
.modalCard .m-box .free-parking h3 {
  font-size: 22px;
}
/* line 327, ../../sass/modals.scss */
.modalCard .m-box .free-parking h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 333, ../../sass/modals.scss */
.modalCard .m-box .free-parking div {
  padding: 20px 0;
  margin: 10px;
  background-color: whitesmoke;
  border: 1px dashed;
}
/* line 338, ../../sass/modals.scss */
.modalCard .m-box .free-parking div p {
  margin-bottom: 10px;
  font-size: 16px;
}
/* line 341, ../../sass/modals.scss */
.modalCard .m-box .free-parking div p span {
  font-weight: bold;
}
/* line 345, ../../sass/modals.scss */
.modalCard .m-box .free-parking div button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
}
/* line 350, ../../sass/modals.scss */
.modalCard .m-box .free-parking div button.yes {
  background-color: #8BC34A;
}
/* line 352, ../../sass/modals.scss */
.modalCard .m-box .free-parking div button.yes:active {
  background-color: #71a436;
}
/* line 356, ../../sass/modals.scss */
.modalCard .m-box .free-parking div button.no {
  background-color: #F44336;
}
/* line 358, ../../sass/modals.scss */
.modalCard .m-box .free-parking div button.no:active {
  background-color: #ea1c0d;
}
/* line 365, ../../sass/modals.scss */
.modalCard .m-box .action {
  text-align: center;
  padding: 10px;
}
/* line 368, ../../sass/modals.scss */
.modalCard .m-box .action .hypothec {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 20px;
  background-image: url("../img/hypothec.png");
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* line 379, ../../sass/modals.scss */
.modalCard .m-box .action button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  vertical-align: middle;
}
/* line 385, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(1) {
  background-color: #8BC34A;
}
/* line 387, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(1):active {
  background-color: #71a436;
}
/* line 391, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(2) {
  background-color: #F44336;
}
/* line 393, ../../sass/modals.scss */
.modalCard .m-box .action button:nth-child(2):active {
  background-color: #ea1c0d;
}
/* line 397, ../../sass/modals.scss */
.modalCard .m-box .action button.green {
  background-color: #8BC34A;
}
/* line 399, ../../sass/modals.scss */
.modalCard .m-box .action button.green:active {
  background-color: #71a436;
}
/* line 404, ../../sass/modals.scss */
.modalCard .m-box .action .swap {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-left: 20px;
  background-image: url("../img/swap.png");
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* line 414, ../../sass/modals.scss */
.modalCard .m-box .action .swap.disabled {
  opacity: .3;
  cursor: default;
}

/* line 422, ../../sass/modals.scss */
.modalAddMoney, .modalDelMoney {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
/* line 434, ../../sass/modals.scss */
.modalAddMoney .m form input, .modalDelMoney .m form input {
  height: 40px;
  border: 1px solid #fff;
  width: 70%;
  font-size: 30px;
  color: #757575;
  vertical-align: middle;
}
/* line 442, ../../sass/modals.scss */
.modalAddMoney .m form button, .modalDelMoney .m form button {
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  height: 50px;
  width: 50px;
  padding-bottom: 9px;
  vertical-align: middle;
}
/* line 452, ../../sass/modals.scss */
.modalAddMoney .m form button.add-money, .modalDelMoney .m form button.add-money {
  background-color: #8BC34A;
}
/* line 454, ../../sass/modals.scss */
.modalAddMoney .m form button.add-money:active, .modalDelMoney .m form button.add-money:active {
  background-color: #71a436;
}
/* line 458, ../../sass/modals.scss */
.modalAddMoney .m form button.del-money, .modalDelMoney .m form button.del-money {
  background-color: #F44336;
}
/* line 460, ../../sass/modals.scss */
.modalAddMoney .m form button.del-money:active, .modalDelMoney .m form button.del-money:active {
  background-color: #ea1c0d;
}
/* line 464, ../../sass/modals.scss */
.modalAddMoney .m form button.start, .modalDelMoney .m form button.start {
  border-radius: 4px;
  width: 100%;
  background-color: #DAE9D4;
  background-image: url("../img/start.png");
  background-size: 180px;
  background-position: right;
  background-repeat: no-repeat;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: left;
}
/* line 474, ../../sass/modals.scss */
.modalAddMoney .m form button.start:active, .modalDelMoney .m form button.start:active {
  background-color: #bdd8b2;
}

/* line 482, ../../sass/modals.scss */
.modalBirthday {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #CACACA;
  width: 80%;
}
/* line 494, ../../sass/modals.scss */
.modalBirthday .b {
  text-align: center;
}
/* line 496, ../../sass/modals.scss */
.modalBirthday .b img {
  width: 40%;
}
/* line 499, ../../sass/modals.scss */
.modalBirthday .b h3 {
  font-size: 22px;
}
/* line 502, ../../sass/modals.scss */
.modalBirthday .b h4 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 508, ../../sass/modals.scss */
.modalBirthday .b p {
  margin: 30px 0;
}
/* line 511, ../../sass/modals.scss */
.modalBirthday .b button {
  border: none;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  background-color: #2196F3;
}
/* line 517, ../../sass/modals.scss */
.modalBirthday .b button:active {
  background-color: #51adf6;
}

/* line 523, ../../sass/modals.scss */
.modalSetUser {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}
