@import "configuration.scss";

/* Buy style */
#buy {
	margin-top: 70px;
	width: 100%;
	position: relative;
	.title {
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		padding: 10px;
		background-color: whitesmoke;
		box-shadow: 0px 0 7px rgba(0,0,0,.4);
	}
	.buy-prop {
		padding: 20px 10px;
		font-size: 20px;
		color: #fff;
		box-shadow: 0 2px 10px rgba(0,0,0,.5);
		&.black {
			color: #000;
		}
		&.disabled {
			opacity: .3;
		}
		p {
			float: left;
			width: 80%;
		}
		.price {
			float: right;
		}
	}
}