@import "configuration.scss";

/* Buy style */
#properties {
	margin-top: 70px;
	width: 100%;
	position: relative;
	.player-name {
		width: 100%;
		padding: 10px;
		text-align: center;
		margin-bottom: 10px;
		background-color: #fff;
		box-shadow: 0px 0 7px rgba(0,0,0,.4);
		h4 {
			text-transform: uppercase;
			font-size: 17px;
			font-weight: bold;
		}
	}
	ul {
		li {
			float: left;
			width: 50%;
			padding: 10px;
			text-align: center;
			box-sizing: border-box;
			.property {
				border-radius: 5px;
				width: 100%;
				padding: 5px;
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0,0,0,.25);
				&.hypothecated {
					opacity: .5;
					.wrap {
						border: 3px solid #f00;
						border-radius: 3px;
					}
				}
				.wrap {
					box-sizing: border-box;
					border: 1px solid #000;
					height: 130px;
					.head {
						height: 40px;
						width: 100%;
						border-bottom: 1px solid #000;
					}
					.body {
						text-align: center;
						padding: 10px;
						p {
							text-transform: uppercase;
							font-weight: bold;
						}
					}
					.houses {
						width: 100%;
						ul {
							&.hotel {
								li {
									width: 100%;
								}
							}
							li {
								float: left;
								width: 25%;
								height: 30px;
								box-sizing: border-box;
								background-image: url('../img/house.png');
								background-size: 30px 23px;
								background-repeat: no-repeat;
								background-position: center;
								opacity: .3;
								&.green {
									background-image: url('../img/house_green.png');
									opacity: 1;
								}
								&.hotel {
									background-image: url('../img/hotel_red.png');
									background-size: 35px 28px;
									opacity: 1;
								}
								&:last-child {
									background: none;
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}