<div class="modalBackground" ng-show="showCard" ng-click="showCard = false"></div>
<div class="modalCard" ng-show="showCard">
	<div class="m-box">
		<div class="m-title" ng-style="{'background-color': card.color}">
			<p>Titre de propriété</p>
			<p>{{ card.name }}</p>
		</div>
		<div class="prices">
			<table>
				<tbody>
					<tr>
						<td></td><td></td><td>€</td>
					</tr>
					<tr>
						<td>LOYER</td><td>Terrain nu</td><td>{{ card.h0 }}</td>
					</tr>
					<tr>
						<td>"</td><td>Avec 1 Maison</td><td>{{ card.h1 }}</td>
					</tr>
					<tr>
						<td>"</td><td>Avec 2 Maisons</td><td>{{ card.h2 }}</td>
					</tr>
					<tr>
						<td>"</td><td>Avec 3 Maisons</td><td>{{ card.h3 }}</td>
					</tr>
					<tr>
						<td>"</td><td>Avec 4 Maisons</td><td>{{ card.h4 }}</td>
					</tr>
					<tr>
						<td>"</td><td>Avec HÔTEL</td><td>{{ card.h5 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="info">
			<p>Si un joueur possède <span>TOUS</span> les terrains d'un Groupe de Couleur quelconque, le loyer des terrains nus de ce groupe est <span>doublé</span>.</p>
		</div>
		<div class="houses">
			<table>
				<tbody>
					<tr><td>Prix des Maisons</td><td><span>€</span> {{ card.house }} chacune</td></tr>
					<tr><td>Prix d'un Hôtel</td><td><span>€</span> {{ card.house }} plus<br>4 maisons</td></tr>
				</tbody>
			</table>
		</div>
		<div class="hypo">
			<p>Valeur hypothécaire du terrain :</p>
			<p>€ {{ card.hypotheque }}</p>
		</div>
		<div class="action">
			<button ng-click="buyProperty()">Acheter</button>
			<button ng-click="cancel()">Annuler</button>
		</div>
	</div>
</div>