<div id="home">
	<div class="user-container">
		<ul>
			<li ng-repeat="player in players">
				<a ng-if="player.id == user.id" ng-href="#/properties/user">
					<span class="name">{{ player.name }}</span>
					<span><span>{{ player.nbProperties }} <span ng-if="player.nbProperties == 1">terrain</span><span ng-if="player.nbProperties != 1">terrains</span></span>
				</a>
				<a ng-if="player.id != user.id" ng-href="#/properties/player/{{ player.id }}">
					<span class="name">{{ player.name }}</span>
					<span><span>{{ player.nbProperties }} <span ng-if="player.nbProperties == 1">terrain</span><span ng-if="player.nbProperties != 1">terrains</span></span>
				</a>
				
			</li>
			<li class="clear"></li>
		</ul>
	</div>
</div>
<footer ng-controller="FooterCtrl">
	<button class="add-money" ng-click="addMoney()">+</button>
	<button class="del-money" ng-click="delMoney()">-</button>
</footer>